<!-- let's fill it with the information in the sidebar of the dashboard !!!! -->

<mat-nav-list>
  <!-- it's a list to group all your information -->
  <div class="profile-card">
    <div class="header">
      <h2>Amal Ben yakhlef</h2>
      <h4>amel.benyakhlef@gmail.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt=""
    />
  </div>

  <mat-divider></mat-divider>
  <!-- add the pages of the project  -->
  <h2 matSubheader>Pages</h2>  <!-- to identify the headers in a cool way!!! -->
  <a mat-list-item   routerLinkActive="list-item-active"  routerLink="/">dashboard</a>   <!-- routerLink use the routerModule to find the roots of every page -->
  <a mat-list-item   routerLinkActive="list-item-active"  routerLink="/posts">posts</a>
  <a mat-list-item   routerLinkActive="list-item-active"  routerLink="/articles">articles</a>
  <mat-divider></mat-divider>
  
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active"  routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active"  routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>
